<div class="bredcrumbs">
    <div  id="item1" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        You are here:
        <a href="http://{{domain}}" itemprop="url">
            <span itemprop="title">Home</span>
        </a>&nbsp;&LeftTriangle;&nbsp;
    </div>  
</div>                      

<div id="content">
        <p>Thank you for opting in. You will receive an email shortly with FREE microfiche for 
            {{part_list}}, model: {{model_name}}  (part number #{{part_number}}).</p>
        <p><strong><span style="color: #D8000C"><u>Important:</u></span> Please check your spam/junk folder before you request another email for same microfiche</strong></p>    
        
    <p>&nbsp;&nbsp;</p>
    </div>
