<div id="footer" class="footer_text"><strong>
    </strong> 
    <a href="http://hd-parts.org">hd-parts.og</a> | 
    <a href="http://{{domain}}/links.php">Our Friends</a> | 
    <a href="http://{{domain}}/find-hd-dealer.php">HD Dealer Finder</a>  
    
    
    <div id="rss_footer">
        Script by YaneM &nbsp;       
</div>
<!-- Start of StatCounter Code for Default Guide -->

<!-- End of StatCounter Code for Default Guide -->
</body>
</html>