<div id="vertinav">
    
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- harley parts left 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-4187142689695749"
     data-ad-slot="4400220543"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<p></p>

{% if donation==0 %}
<!-- Donation content here ->
{% elseif donation==1 %}

{% endif %}
<p></p>
</div>